body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
button{
    outline: none;

}
ul {
    margin: 0;
    padding: 0;
}
#user_list_form{
    height: 85%;
}
a.white-link {
    color: #fff;
}

a.base-link {
    color: #3564E0;
    text-decoration: none;
}

.for-link {
    margin-left: 200px;
    margin-top: 17px;
}

.header {
    width: 100%;
    margin: 0;
    height: 60px;
    background-image: url("../img/Rectangleheader.jpg");
    background-size: cover;
}

.nav-item,
.menu-item {
    display: inline-block !important;
}

.header-menu,
.header-profile,
.header-logo {
    display: inline-block;
}

.header-logo img {
    height: 43px;
    width: 39px;
    margin-top: 8px;
    margin-left: 13px;
}

#logo {
    font-family: Roboto Slab;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    vertical-align: top;
    margin-top: 16px;
}

.nav {
    text-align: center;
}

.buttons {
    margin-right: 18px;
    margin-left: 18px;
    margin-top: 21px;
    color: #A2DFF6;
    cursor: pointer;
}

.buttons:hover {
    color: #fff;
    transition: 0.2s;
}

.profile {
    float: right;
    margin-right: 24px;
}

.exit,
.profile-text {
    display: inline-block;
}

.exit {
    vertical-align: top;
    margin-top: 12px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    color: #fff;
    outline: none;
    cursor: pointer;
    height: 36px;
    width: 86px;
}

.profile-text {
    text-align: left;
    margin-top: 12px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
}

.profile-group {
    opacity: 0.5;
}

.header-logo {
    float: left;
}

.input-table,
.input-header {
    display: none;
}

.input-header+label {
    cursor: pointer;
    font-weight: normal !important;

}

.input-header:checked+label {
    border: none;
    color: #fff;
}


/*user-menu*/

.user-menu {
    margin-left: 57px;
    height: 66px;
    border-bottom: 1px solid #ADADAD;
    background-color: #fff;
}

.create-user-button {
    float: right;
}

.create-user-button button,
.sort-apply-button button {
    background: #00BFA5;
    border-radius: 20px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 19px;
}

.create-user-button button {
    margin-right: 24px;
    margin-top: 21px;
    width: 155px;
    height: 36px;
}

.create-user-button button:hover {
    background: rgb(0, 145, 125);
    transition: 0.2s;
}
.sort-apply-button button:hover{
    background: rgb(0, 145, 125);
    transition: 0.2s;
}

.input-table:checked+label {
    color: #2196F3;
    margin-top: 29px;
    border-bottom: 1px solid #2196F3;
}
.back-arrow,
.name,
.user-buttons{
    display: inline-block
}
.label-models,
.label-header-users,
.label-magazine {
    border: none;
    color: #A2DFF6;
}

.label-employment,
.label-registry {
    margin-right: 59px;
}

.input-table+label {
    display: inline-block;
    font-size: 16px;
    line-height: 15px;
    font-weight: 300;
    height: 37px;
    border-bottom: 1px solid #ADADAD;
    cursor: pointer;
}
.user-name {
    margin-left: 57px;
    height: 87px;
    padding-top: 24px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-left: 17px;
}

.user-buttons button,
.popup-buttons button {
    font-size: 16px;
    line-height: 19px;
    height: 36px;
    border-radius: 20px;
    border: none;
    color: #fff;
    margin-right: 10px;
}

#save {
    background-color: #00BFA5;
    width: 133px;
}

#save:hover {
    background-color: rgb(0, 148, 128);
    transition: 0.2s;
}

#close {
    background-color: #2196F3;
    width: 110px;
}

#close:hover {
    background-color: rgb(24, 112, 184);
    transition: 0.2s;
}
.user-buttons {
    display: inline-block;
    float: right;
    margin-right: 24px;
}

#delete {
    background-color: #E91E63;
    width: 104px;
}

#delete:hover {
    background-color: rgb(168, 24, 72);
    transition: 0.2s;
}
.create-user-button button,
.sort-apply-button button {
    background: #00BFA5;
    border-radius: 20px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 19px;
}
.sort {
    position: relative;
    z-index: 3;
    display: inline-block;
    float: right;
    padding-left: 32px;
    padding-top: 26px;
    height: 100%;
    width: 223px;
    background-color: #F4F2F5;
}
.sort-group p, .sort-lesson-type p, .sort-status p{
    font-size: 12px;
    line-height: 14px;
    padding-left: 5px;
    color: #949494;
}

.sort-apply-button button {
    height: 36px;
    width: 155px;
    background: #00BFA5;
    border-radius: 20px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 19px;
    margin-left: 9px;
    margin-top: 33px;
}
.registry-block {
    float: left;
    display: inline-block;
    width: 73%;
}
input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
    line-height: 1.5em;
}

input[type=checkbox]:not(old)+input[type=hidden]+label {
    display: inline-block;
    margin-left: -2em;
    margin-bottom: 9px;
    line-height: 1.5em;
}

input[type=checkbox]:not(old):checked+input[type=hidden]+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border-radius: 0.125em;
    background: #683CD7;
}

input[type=checkbox]:not(old):checked+input[type=hidden]+label>span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=checkbox]:not(old)+input[type=hidden]+label>span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192, 192, 192);
    border-radius: 0.25em;
    vertical-align: bottom;
}
.sort-category,
.sort-level,
.sort-group,
.sort-img,
.sort-instructions {
    margin-bottom: 31px;
}
.sort-category div label div, .sort-level div label div, .sort-group div label div, .sort-img div label div, .sort-instructions div label div {
    display: initial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
.sort-category p,
.sort-level p,
.sort-group p,
.sort-img p,
.sort-instructions p {
    font-size: 12px;
    line-height: 14px;
    color: #949494;
}
.sort-group p {
    font-size: 12px;
    line-height: 14px;
    color: #949494;
}

.sort-branch p {
    font-size: 12px;
    line-height: 14px;
    color: #949494;
}
.registry-block-item {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin-top: 29px;
}

.registry-block-item:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.registry-block-item:hover .registry-block-item-header {
    color: #2196F3;
    transition: 0.5s;
}
.registry-block-item-attributes {
    text-align: left;
    padding-left: 20px;
}
.attributes-header {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 100%;
    color: #333333;
    opacity: 0.5;
}
.attributes-parameter {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 16px;
}

.attributes-level-4 {
    color: #7234D6;
}

.attributes-level-1 {
    color: #00BFA5;
}

.attributes-level-2 {
    color: #2196F3;
}
.registry-block-item img {
    height: 122px;
    margin-top: 17px;
}

.registry-block-item-header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.62%;
    margin-top: 15px;
}
.input-search {
    width: 80%;
    -webkit-appearance: none;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    height: 40px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 16px;
    outline: none;
}
.search i {
    position: relative;
    top: 2px;
    right: 3%;
    font-size: 18px;
    color: #DADADA;
}
.registry-block-item-pdf {
    position: relative;
    background-color: #2196F3;
    border-radius: 16px;
    width: 50px;
    height: 24px;
    color: #fff;
    top: 20px;
    left: 20px;
    padding-top: 4px;
}
.registry-block-item-attributes {
    text-align: left;
    padding-left: 20px;
}
.registry-block-item-menu{
    color: rgb(158, 158, 158);
    text-align: center;
    height: 0;
}
.registry-block-item-menu::after{
    content: '';
    position: absolute;
    width: 92%;
    height: 92%;
    background: rgba(0,0,0,0.5);
    left: 16px;
    top: 29px;
    transition: opacity 0.5s;
    border-radius: 5px;
    opacity: 0;
}
.registry-block-item-menu:hover::after{
    opacity: 1;
}
.registry-block-item-menu:hover .image-item-menu-button{
    display: block;
}
.registry-block-item-menu-buttons{
    position: relative;
    height: 100%;
    top: -200px;
    z-index: 3;
}
.image-item-menu-button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;

}
.image-item-menu-button:hover{
    color: #fff;
    transition: 0.5s;
}
.image-item-menu-button{
    display: none;
}
.save-label {
    background: #00BFA5;
    box-shadow: 0px 20px 40px rgba(0, 117, 101, 0.2);
    margin-right: 24px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    padding: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 24px;
    display: block;
    z-index: 4;
}
.save-label-close {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}