body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

a.white-link {
    color: #fff;
}

a.base-link {
    color: #3564E0;
    text-decoration: none;
}

.for-link {
    margin-left: 200px;
    margin-top: 17px;
}

.header {
    width: 100%;
    margin: 0;
    height: 60px;
    background-image: url("../img/Rectangleheader.jpg");
    background-size: cover;
}

.header-menu,
.header-profile,
.header-logo,
.nav-item,
.menu-item,
.exit,
.profile-text {
    display: inline-block  !important; 
    
}
.header-logo img {
    height: 43px;
    width: 39px;
    margin-top: 8px;
    margin-left: 13px;
}

#logo {
    font-family: Roboto Slab;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    vertical-align: top;
    margin-top: 16px;
}

.nav {
    text-align: center;
}

.buttons {
    margin-right: 18px;
    margin-left: 18px;
    margin-top: 21px;
    color: #A2DFF6;
    cursor: pointer;
}

.buttons:hover {
    color: #fff;
}

.profile {
    float: right;
    margin-right: 24px;
}

.exit {
    vertical-align: top;
    margin-top: 12px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    color: #fff;
    outline: none;
    cursor: pointer;
    height: 36px;
    width: 86px;
}

.profile-text {
    text-align: left;
    margin-top: 12px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
}

.profile-group {
    opacity: 0.5;
}

.header-logo {
    float: left;
}
/*available-models*/
.available-models{
    margin-top: 30px;
}
.available-models-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.available-models-description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}
.registry-block-item {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin-top: 29px;
}

.registry-block-item:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.registry-block-item:hover .registry-block-item-header {
    color: #2196F3;
    transition: 0.5s;
}

.registry-block-item img {
    height: 122px;
    margin-top: 17px;
}

.registry-block-item-header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    margin-top: 15px;
}
.registry-block-item-attributes {
    text-align: left;
    padding-left: 20px;
}
.attributes-parameter {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 16px;
}
.attributes-header {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 100%;
    color: #333333;
    opacity: 0.5;
}

.attributes-level-4 {
    color: #7234D6;
}

.attributes-level-1 {
    color: #00BFA5;
}

.attributes-level-2 {
    color: #2196F3;
}
.registry-block-item-pdf {
    position: relative;
    background-color: #2196F3;
    border-radius: 16px;
    width: 50px;
    height: 24px;
    color: #fff;
    top: 20px;
    left: 20px;
    padding-top: 4px;
}
.no-pdf {
    position: relative;
    background-color: #EB5757;
}
.no-pdf::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    color: red;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #fff;
    transform: rotate(-15deg);
}
.input-search {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
.available-models-list{
    margin-top: 25px;
    padding-left: 44px;
}
.search i {
    position: absolute;
    top: 182px;
    right: 21%;
    font-size: 18px;
    color: #DADADA;
    cursor: pointer;
}
.pagination {
    display: inline-block;
    margin-top: 27px;
    cursor: pointer;
}
.pagination-row{
    width: 100%;
    text-align: center;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 13px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #2196F3;
    color: white;
    border-radius: 50%;
}

.pagination a:hover:not(.active) {
    background-color: #DFDFDF;
    border-radius: 50%;
    transition: 0.2s;
}